/*  your css code here. If applicable */
.text-center{
	text-align:center;
}

#table-1, #table-2, #table-3{
	width:100%;
	border: 1px solid black;
	padding:1px
	margin-bottom: 20px
}

#table-2 td, #table-3 td{
	padding: 10px
}

td {
	padding:1px;
		border: 1px solid black
}

#t31{
	background-color:green
}
#t33{
	background-color:blue
}